@media screen and (min-width: 768px) {
	header {
		text-align: left;
	}

	.container {
		padding: 40px 40px;
	}

	h1 {
		font-size: 3rem;
	}

	.d-tablet-inline {
		display: inline;
	}

	.description ul {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.social button {
		padding: 10px 55px;
	}

	.presentation {
		padding-top: 30px;
	}

	.presentation img {
		float: left;
		padding: 5px 10px 0 0;
	}
}
