@media screen and (min-width: 768px) {
	header {
		text-align: left;
	}

	.container {
		padding: 40px 40px;
	}

	h2 {
		font-size: 2.2rem;
	}

	.d-tablet-inline {
		display: inline;
	}

	.description ul {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.social button {
		flex-grow: 1;
		margin-right: 10px;
	}

	.presentation {
		padding-top: 30px;
	}

	.presentation img {
		float: left;
		padding: 5px 10px 0 0;
	}
}

@media screen and (min-width: 992px) {
	.container {
		padding: 40px 80px;
	}

	h2 {
		font-size: 2.5rem;
	}

	.description ul {
		display: inline;
	}

	.video {
		display: flex;
	}

	.video img {
		width: 70%;
	}

	.d-desktop-inline {
		display: inline;
	}

	.social i {
		display: inline;
	}

	footer {
		display: flex;
		justify-content: space-between;
		padding: 20px 20px;
	}

	.società {
		text-align: left;
	}
}
