/*RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main,
footer {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

main {
	background-color: rgb(246, 245, 243);
}

header {
	font-family: "Nerko One", cursive;
	font-style: normal;
}

/*UTILS*/
.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 20px 20px;
}

h1 {
	font-weight: 800;
	font-size: 1.5rem;
	color: rgb(78, 57, 105);
	margin: 10px 0;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 10px;
}

h4 {
	font-weight: 300;
	font-size: 1rem;
}

h5 {
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 20px;
}

img {
	width: 100%;
}

ul {
	list-style-type: none;
}

.d-tablet-none {
	display: none;
}

.d-desktop-none {
	display: none;
}

/*HEADER*/
.page-header > h2 {
	text-align: center;
	color: rgb(255, 150, 20);
}

/*MAIN*/
.video {
	background-color: white;
}

.description {
	padding: 20px 20px 30px;
}

.description li {
	line-height: 30px;
	font-size: 0.9rem;
}

.social {
	display: flex;
	justify-content: space-between;
	margin: 25px 0;
}

.social button {
	padding: 10px 15px;
	border-radius: 20px;
	border-style: none;
	background-color: white;
}

.fa-facebook {
	color: blue;
}

.fa-twitter {
	color: rgb(0, 158, 255);
}

.fa-instagram {
	color: rgb(220, 63, 163);
}

.fa-pinterest {
	color: rgb(230, 34, 34);
}

.fa-youtube {
	color: rgb(230, 34, 34);
}

hr {
	width: 70px;
	border: 1px solid;
	color: rgb(247, 166, 78);
}

.presentation img {
	max-width: 60%;
}

.presentation div {
	padding: 20px 0 10px;
	text-align: center;
}

p {
	line-height: 32px;
	padding-bottom: 20px;
}

/*FOOTER*/

.footer-container {
	background-color: rgb(124, 105, 164);
	max-width: 100%;
	padding: 30px;
	text-align: center;
	color: white;
}

.società {
	font-weight: bolder;
	margin-bottom: 5px;
}

.nav {
	padding-top: 10px;
}

.nav li {
	display: inline;
	padding-inline: 10px;
	line-height: 40px;
}

.nav a {
	color: white;
}
